<h2>Generating Users from Database</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Password</th>
      <th>Credit Card</th>
      <th>Date Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>

      <td>
        <%= user[:id] %>
      </td>
      <td>
        <%= user[:name] %>
      </td>
      <td>
        <%= user[:email] %>
      </td>
      <td>
        <%= user[:address] %>
      </td>
      <td>
        <%= user[:password] %>
      </td>
      <td>
        <%= user[:cc_number] %>
      </td>
      <td>
        <%= user[:date_joined] %>
      </td>


    </tr>
    <% end %>
  </tbody>
</table>
